:root {
    --theme_blue: #007bff;
}

.symbol-indication {
    border: 5px solid var(--theme_blue);
    border-radius: 10px;
    padding: 3px;
    background-color: white;
    width: auto;
    margin-left: 3px;
    left: 3px;
    top: 82px;
    z-index: 10;
    position: fixed;
}

.node-symbol {
    margin-left: 1px;
    margin-right: 1px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.node-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.node-symbol-text {
    font-size: 1rem;
    font-style: bold;
    color: var(--theme_blue);
    display: flex;
    align-items: center;
}