.user-tree-container {
    position: relative;
}

.user-tree {
    margin-top: 10px;
    position: relative;
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.node-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.node {
    width: 5em;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.node-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node-children {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.node-component{
    margin: 0.5em;
}