.user-tree {
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.node-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.node {
    width: 5em;
}

.invisible-node {
    opacity: 0;
    margin: 10px;
    margin-inline: 20px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid transparent;
    box-sizing: border-box;
}