.user-tree {
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.node-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.node {
    width: 5em;
}