:root {
  --theme_blue: rgb(0, 123, 255);
}

.Homepage {
  font-family: "Arial", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.homepage-text {
  text-align: left;
  color: var(--theme_blue);
  font-weight: bold;
}

.container-fluid {
  padding-right: 3rem;
  padding-left: 3rem;
  margin-right: auto;
  margin-left: auto;
}

.card-custom {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px; /* Adjust as necessary for your layout */
  min-height: 300px;
}

.card-img-top {
  width: 100%;
  height: auto; /* Adjust based on your needs */
  object-fit: cover; /* Ensure images cover the card area properly */
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(
    19,
    115,
    240,
    0.718
  ); /* Semi-transparent overlay for readability */
  color: white;
  padding: 20px;
}

.card-title {
  font-size: 20px; /* Increase font size */
  font-weight: bold; /* Make the font weight bold */
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add a subtle text shadow for depth */
  margin-bottom: 20px; /* Add some space between the title and the content/buttons */
}

.card-actions {
  top: 20px; /* Adjust as necessary */
  right: 20px; /* This positions the container to the top-right corner of the card */
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.card-action-btn {
  width: 100% !important; /* Ensure the button takes up the full width */
  background-color: white; /* Primary button color */
  border: none;
  color: var(--theme_blue); /* Text color */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif; /* Match the font family */
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: bold;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.card-action-btn:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.btn-container {
  display: none; /* Hide the original btn-container if not needed */
}

/* Slick Carousel Customizations */
.slick-slide {
  margin: 15px;
}

.slick-list {
  margin: 0 -15px;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev {
  left: -25px;
}

.slick-next {
  right: -25px;
}

@media (max-width: 1024px) {
  .card-custom {
    flex: 1 0 calc(50% - 20px); /* Adjust so two cards fit within the space */
  }
}

@media (max-width: 600px) {
  .card-custom {
    flex: 1 0 calc(100% - 20px); /* Adjust so one card fits within the space */
  }
}

/* Import Slick Carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
