:root {
  --theme_blue: #007bff;
}

.Homepage {
  font-family: "Arial", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  background-image: url("/public/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 15em;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.homepage-text {
  text-align: left;
  color: var(--theme_blue);
  font-weight: bold;
}

.container-fluid {
  padding-right: 3rem;
  padding-left: 3rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%; /* Ensure it doesn't overflow the screen width */
}

.card {
  width: auto;
  display: flex;
  text-align: center;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Adjusted for spacing */
  font-weight: bold;
  background-color: var(--theme_blue);
  color: white;
  flex: 1 0 calc(25% - 20px); /* Adjust card width */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 1rem;
  background-color: var(--theme_blue);
  color: white;
  padding: 2rem;
  min-height: 150px;
  position: relative;
}

.card-title {
  margin: 0;
  margin-bottom: auto;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.about-btn,
.enter-tree-btn {
  background-color: white;
  color: var(--theme_blue);
  width: auto;
  border-radius: 20px;
  border: 1px solid var(--theme_blue);
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: none;
  font-weight: bold;
  white-space: nowrap;
}

.about-btn:hover,
.enter-tree-btn:hover {
  background-color: #053f7d;
  color: white !important;
}

.footer {
  background-color: var(--theme_blue);
  color: white;
  padding: 1rem 0;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: auto;
  z-index: 1000;
}

/* Slick Carousel Customizations */
.slick-slide {
  margin: 15px;
}

.slick-list {
  margin: 0 -15px;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev {
  left: -25px;
}

.slick-next {
  right: -25px;
}

@media (max-width: 1024px) {
  .card {
    flex: 1 0 calc(50% - 20px); /* Adjust so two cards fit within the space */
  }
}

@media (max-width: 600px) {
  .card {
    flex: 1 0 calc(100% - 20px); /* Adjust so one card fits within the space */
  }
}

/* Import Slick Carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
