:root {
  --primary-font: "Roboto";
  --primary-color: #fefefe;
  --theme_blue: #e4ddd0;

  /* Background */
  --back_ground: #eee9df;
  /* --background-image: url("./background.jpg"); */

  /* Navbar */
  --nav-back_ground: #e4ddd0;
  --nav-hover: #d0be9f;
  --nav-text: #715529;
  --nav-text-hover: #fefefe;

  /* Footer */
  --footer: #e4ddd0;

  /* Buttons */
  --btn-color: #927448;
  --btn-color-hover: #715529;
  --btn-text-color: white;

  /* Article List & Glossary */
  --glossary-hightlight: #927448;
  --selecter-banner: #baa57f;
  --banner: #baa57f;

  /* Page Elements */
  --title-text: #715529;
  --header-text: #715529;
  --header: #eee9df;

  /* Tree elements */
  --border: #715529;
  --box-color: white;

  /* Card elements */
  --card-color: #e4ddd0;
  --card-title: #715529;

  --text: #715529;
  --placeholder-text: #aaa;
  --error-message: red;

  --login-container: #f5f5f5;

  --about-hover: #715529;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar a:hover {
  color: var(--nav-text-hover);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: var(--primary-color);
}

#root {
  font-family: var(--primary-font);
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: visible;
}

h1 {
  color: var(--title-text);
}

h3 {
  color: var(--header-text);
}

.list-group-item {
  color: var(--header-text);
}

.list-group-item:hover {
  color: var(--about-hover);
}

.list-group-item.active {
  background-color: var(--btn-color-hover);
  border-color: var(--btn-color-hover);
}

.app-container {
  background-color: var(--back_ground);
  flex-grow: 1;
}

.footer {
  text-align: center;
  background-color: var(--footer);
  padding: 1rem;
  width: 100%;
  position: sticky;
  margin-top: 5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
