:root {
  --primary-font: "Roboto";

  /* Background */
  --back_ground: #eee9df;
  /* --background-image: url("./background.jpg"); */

  /* Navbar */
  --nav-back_ground: #e4ddd0;
  --nav-hover: #d0be9f;
  --nav-text: #715529;
  /* --nav-text-hover: #fefefe; */

  /* Footer */
  --footer: #715529;

  /* Buttons */
  --btn-color: #927448;
  --btn-color-hover: #715529;
  --btn-text-color: white;

  /* Article List & Glossary */
  --glossary-hightlight: #927448;
  --selecter-banner: #baa57f;
  --banner: #baa57f;

  /* Page Elements */
  --title-text: #715529;
  --header-text: #715529;
  --header: #eee9df;

  /* Tree elements */
  --border: #715529;
  --box-color: white;

  /* Card elements */
  --card-color: #e4ddd0;
  --card-title: #715529;
  --card-border: #927448;

  --text: #715529;
  --placeholder-text: #aaa;
  --error-message: red;

  --login-container: #f5f5f5;

  --about-hover: #715529;

  /* Contact FOrm */
  --bg-disabled-fields: #e4ddd0;
  --bg-disabled-btn: #e4ddd0;
  --color-disabled-btn: #715529;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .navbar a:hover {
  color: var(--nav-text-hover);
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: var(--primary-color);
}

#root {
  font-family: var(--primary-font);
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: visible;
}

h1 {
  color: var(--title-text);
}

h3 {
  color: var(--header-text);
}

.list-group-item {
  color: var(--header-text);
}

.list-group-item:hover {
  color: var(--btn-color-hover);
}

.list-group-item.active {
  background-color: var(--btn-color-hover);
  border-color: var(--btn-color-hover);
}

.list-group-item.active:hover {
  color: var(--btn-text-color);
}

.list-group-item:hover {
  font-size: 1.1em;
}

.app-container {
  background-color: white;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.footer-placeholder {
  width: 100%;
  height: 4em;
}

.footer {
  padding: 1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 4em;
  text-align: center;
  color: var(--footer);
}

.footer-link {
  /* Ensures the link inherits the color from the surrounding text */
  color: inherit;
  /* Removes the underline from the link */
  text-decoration: none;  
  font-weight: 600;
}

.footer-link:hover {
  /* Adds underline on hover for better visibility */
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  /* width: 8px; */
  /* background-color: var(--back_ground); */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 4px;

  width: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.content-container {
  padding-bottom: 50px
}