/* nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-back_ground);
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav li {
  color: var(--text);
  cursor: pointer;
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: var(--header-text);
}

.article-title {
  font-size: 2rem;
  color: var(--title-text);
}

.alphabet-selector {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.alphabet-selector button {
  border: 1px solid var(--btn-color);
  background-color: var(--btn-color);
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  flex: 0 0 calc(7.5% - 10px);
}

.alphabet-selector button:hover {
  background-color: var(--btn-color-hover);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transform: translateY(-2px); 
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease; 
}

.alphabet-selector button.selected {
  background-color: var(--btn-color-hover);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
  transform: translateY(-2px); 
  
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease; 
    
}

.search-bar {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.search-bar input {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}

.search-bar button {
  padding: 5px 10px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 20px;
  color: var(--btn-text-color);
  cursor: pointer;
}

.letter-banner {
  background-color: var(--banner);
  color: white;
  text-align: center;
  padding: 10px;
  margin: 20px 0;
  font-size: 1.5em;
  font-weight: bold;
}

li {
  padding: 5px 0;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  list-style-type: none;
  padding: 20px;

}

.ArticleList a {
  text-decoration: none;
  color: var(--text);
} */

/* Mobile styles */
/* @media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    gap: 10px; 
  }

  .article-header {
    flex-direction: column;
  }

  .article-title,
  .search-bar-container {
    width: 100%;
    text-align: center; 
    margin-bottom: 1rem; 
  }

  .search-bar {
    flex-direction: column; 
  }

  .search-bar input,
  .search-bar button {
    width: 100%; 
    margin: 5px 0; 
  }

  .alphabet-selector button {
    flex: 0 0 calc(10% - 10px);
  }
} */

/* V2 */

.article-list-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: var(--header-text);
}

.article-list-title {
    font-size: 2rem;
    color: var(--title-text);
    font-weight: 500;
}

.article-list-jump-section {
  background-color: var(--btn-color);
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.article-list-jump-section span {
  color: #ffffff;
  pointer-events: none;
}

.article-list-alphabet {
  display: flex;
  gap: 5px;
  margin-left: 5px;
}

.article-list-alphabet a {
  text-decoration: none;
  padding: 0 5px;
}

.article-list-alphabet-letter.active {
  color: #fff;
}

.article-list-alphabet-letter.inactive {
  color: #cccccc90;
  pointer-events: none;
}

.article-list-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 equal columns */
  gap: 20px;
  padding: 20px;
  scroll-padding-top: 200px;
      /* Adjust based on navbar height */
}

.article-list-section-column {
  /* No additional styling needed for column alignment */
}

.article-list-section {
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
}

.article-list-section h3 {
  font-size: 32px;
  /* Larger font size for prominence */
  font-weight: bold;
  /* Bold font to make headers stand out */
  color: var(--card-title);
  /* Dark color for strong contrast */
  margin: 0 0 8px;
  /* Add spacing below header */
  padding-bottom: 5px;
  /* Extra padding for separation */
  text-transform: uppercase;
  /* Keep headers uppercase for emphasis */
  letter-spacing: 1px;
  /* Increase letter spacing for a clear, bold look */
}

.article-list-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.article-list-section-item {
  margin: 3px 0;
  color: var(--card-title);
  text-decoration: none;
  font-weight: 400;
}