/* General Article */
.article-container {
  background-color: white;
}

.article-title {
  border-bottom: 2px solid var(--interactive-color);
  width: 97%;
  padding-bottom: 4px;
}

.article .article-h3 {
  font-size: large;
}

.banner-text-container {
  display: grid;
  place-items: center;
}

.article-nav-button.button  {
  width: 12em;
}
.user-article-video-container {
  margin-bottom: 3em;
  margin-top: 2em;
}

/* Summary */

.summary-container {
  position: sticky;
  top: var(--nav-height);
  z-index: 100;
  background: white;
  padding: 1.5em;
  padding-top: 10px;
  padding-bottom: 0px;
}

.summary-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--interactive-color)
 }

.summary-list li {
  margin-right: 15px;
  /* Space between items */
  position: relative;
  line-height: 1;
  /* Reduce line height to make the items occupy less vertical space */
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.summary-list li::after {
  content: "|";
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: var(--interactive-color);
}

.summary-list li:last-child::after {
  content: "";
  /* Remove separator for the last item */
}

.summary-link {
  text-decoration: none;
  color: var(--interactive-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}

.summary-link:hover {
  text-decoration: underline;
}

/* Header jump behavior */
.art-h1 {
  scroll-margin-top: 160px;
  color: var(--header-text);
  font-size: 36px;
}

.art-h2 {
  scroll-margin-top: 200px;
  color: var(--header-text);
  font-size: 24px;
}
