.article-list-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: var(--header-text);
}

.article-list-title {
    font-size: 2rem;
    color: var(--title-text);
    font-weight: 500;
}

.article-list-jump-section {
  background-color: var(--btn-color);
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.article-list-jump-section span {
  color: #ffffff;
  pointer-events: none;
}

.article-list-alphabet {
  display: flex;
  gap: 5px;
  margin-left: 5px;
}

.article-list-alphabet a {
  text-decoration: none;
  padding: 0 5px;
}

.article-list-alphabet-letter.active {
  color: #fff;
}

.article-list-alphabet-letter.inactive {
  color: #cccccc90;
  pointer-events: none;
}

.article-list-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 equal columns */
  gap: 20px;
  padding: 20px;
  scroll-padding-top: 200px;
      /* Adjust based on navbar height */
}

.article-list-section-column {
  /* No additional styling needed for column alignment */
}

.article-list-section {
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
}

.article-list-section h3 {
  font-size: 32px;
  /* Larger font size for prominence */
  font-weight: bold;
  /* Bold font to make headers stand out */
  color: var(--card-title);
  /* Dark color for strong contrast */
  margin: 0 0 8px;
  /* Add spacing below header */
  padding-bottom: 5px;
  /* Extra padding for separation */
  text-transform: uppercase;
  /* Keep headers uppercase for emphasis */
  letter-spacing: 1px;
  /* Increase letter spacing for a clear, bold look */
}

.article-list-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.article-list-section-item {
  margin: 3px 0;
  color: var(--card-title);
  text-decoration: none;
  font-weight: 400;
}

.article-list-intro-text {
  width: 70%;
}

/* Search Bar */

.article-list-search-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-left: 1em
}

.article-list-search-input {
  margin-right: 0.5em;
  padding: 0.25em;
  padding-left: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: var(--header-text);
}

.article-list-search-input::placeholder {
  color: var(--header-text);
  transform: translateX(-0.25em)
}

.article-list-search-input:focus {
  outline: none;
  border: 1px solid #715529;
}

.article-list-search-container button {
  padding: 5px 10px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 10px;
  color: var(--btn-text-color);
  cursor: pointer;
  margin-inline: 5px;
}

.article-list-search-label-container {
  margin-right: 0em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.article-list-search-label {
  margin-bottom: 0em;
  font-weight: 500;
  font-size: 1.25em;
}