.article-container {
  background-color: white;
}

.article .article-h3 {
  font-size: large;
}

.banner-text-container {
  display: grid;
  place-items: center;
}

.banner-text {
  color: white;
  font-weight: lighter;
}

.banner-container {
  height: 10em;
  background-color: rgb(10, 43, 78);
}
