.glossary-list-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: var(--header-text);
}

.glossary-list-title {
    font-size: 2rem;
    color: var(--title-text);
    font-weight: 500;
}

.glossary-list-jump-section {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid lightgray
}

.glossary-list-jump-section span {
    color: var(--nav-text);
    pointer-events: none;
    font-weight: bolder;
}

.glossary-list-alphabet {
    display: flex;
    gap: 5px;
    margin-left: 5px;
}

.glossary-list-alphabet a {
    text-decoration: none;
    padding: 0 5px;
}

.glossary-list-alphabet-letter.active {
    color: var(--interactive-color);
}

.glossary-list-alphabet-letter.inactive {
    color: #B3A6A0;
    pointer-events: none;
}

.glossary-list-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 equal columns */
    gap: 20px;
    padding: 20px;
    scroll-padding-top: 200px;
    /* Adjust based on navbar height */
}

.glossary-list-section-column {
    /* No additional styling needed for column alignment */
}

.glossary-list-section {
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
}

.glossary-list-section h3 {
    font-size: 32px;
    /* Larger font size for prominence */
    font-weight: bold;
    /* Bold font to make headers stand out */
    color: var(--card-title);
    /* Dark color for strong contrast */
    margin: 0 0 8px;
    /* Add spacing below header */
    padding-bottom: 5px;
    /* Extra padding for separation */
    text-transform: uppercase;
    /* Keep headers uppercase for emphasis */
    letter-spacing: 1px;
    /* Increase letter spacing for a clear, bold look */
}

.glossary-list-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.glossary-list-section-item {
    margin: 3px 0;
    color: var(--interactive-color);
    text-decoration: none;
    font-weight: 400;
}

.glossary-list-section-item.expanded {
    background-color: var(--banner);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: var(--nav-text-hover);
}

.glossary-list-intro-text {
    width: 70%;
}

/* Search Bar */

.glossary-list-search-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-left: 1em
}

.glossary-list-search-input {
    margin-right: 0.5em;
    padding: 0.25em;
    padding-left: 1em;
    border: 1px solid var(--interactive-color);
    border-radius: 10px;
}

.glossary-list-search-input::placeholder {
    color: var(--interactive-color);
    transform: translateX(-0.25em)
}

.glossary-list-search-input:focus {
    outline: none;
    border: 1px solid var(--interactive-color);
}

.glossary-list-search-container button {
    padding: 5px 10px;
    background-color: var(--btn-color);
    border: none;
    border-radius: 10px;
    color: var(--btn-text-color);
    cursor: pointer;
    margin-inline: 5px;
}

.glossary-list-search-label-container {
    margin-right: 1em;
    width: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.glossary-list-search-label {
    margin-bottom: 0em;
    font-weight: 500;
    font-size: 1.25em;
}