nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav li {
  color: white;
  cursor: pointer;
}

.banner {
  text-align: center;
  background-color: #004085;
  color: white;
  padding: 40px 0;
}

.glossary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.glossary-title {
  font-size: 2rem;
  color: #007bff;
}

.alphabet-selector {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #8dbbf7;
  padding: 10px;
}

.alphabet-selector button {
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  flex: 0 0 calc(7.5% - 10px);
}

.alphabet-selector button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.alphabet-selector button.selected {
  background-color: #0056b3;
  border-color: #0056b3;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.search-bar input {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.letter-banner {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 20px 0;
  font-size: 1.5em;
  font-weight: bold;
}

.glossary-list {
  list-style-type: none;
  padding: 20px;
}

.glossary-list h2 {
  margin-bottom: 10px;
}

.glossary-list ul {
  list-style: none;
  padding: 0;
}

.glossary-list li {
  padding: 5px 0;
}

.glossary-list-item.selected {
  background-color: #acc2da !important;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: -5px;
}

.glossary-list-item.selected h3 {
  color: #fff;
}

/* Mobile styles */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    gap: 10px; /* Smaller gap for mobile */
  }

  .glossary-header {
    flex-direction: column;
  }

  .glossary-title,
  .search-bar-container {
    width: 100%;
    text-align: center; /* Center title text on small screens */
    margin-bottom: 1rem; /* Add space between the title and the search bar */
  }

  .search-bar {
    flex-direction: column; /* Stack input and button on mobile */
  }

  .search-bar input,
  .search-bar button {
    width: 100%; /* Full width on small screens */
    margin: 5px 0; /* Add margin for stacked layout */
  }

  .alphabet-selector button {
    flex: 0 0 calc(10% - 10px);
  }
}
