.glossary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  /* background-color: var(--header); */
  color: var(--header-text);
}

.glossary-title {
  font-size: 2rem;
  color: var(--title-text);
}

.alphabet-selector {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 15px;
  border-radius: 10px;
}

.alphabet-selector button {
  border: 1px solid var(--btn-color);
  background-color: var(--btn-color-hover);
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  flex: 0 0 calc(7.5% - 10px);
  color: var(--nav-text-hover);
  font-weight: bold;
}

.alphabet-selector button:hover {
  background-color: var(--btn-color-hover);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a "lifted" effect */
  transform: translateY(-2px); /* Slight "lift" effect */
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease; /* Smooth transition for the effects */
}

.alphabet-selector button.selected {
  background-color: var(--btn-color-hover);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a "lifted" effect */
  transform: translateY(-2px); /* Slight "lift" effect */
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease; /* Smooth transition for the effects */
}

.search-bar {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-left: 1em
}

.search-bar input {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input:focus {
  outline: none;
  border: 1px solid #715529;
}

.search-bar button {
  padding: 5px 10px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 10px;
  color: var(--btn-text-color);
  cursor: pointer;
  margin-inline: 5px;
  focus-color: var(--btn-color-hover);
}

.letter-banner {
  background-color: var(--banner);
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 7px;
  margin-inline: 20px;
}

.glossary-list {
  list-style-type: none;
  cursor: pointer;
}

.glossary-list h3 {
  margin-bottom: 10px;
  font-size: medium;
  color: var(--nav-text);
  font-weight: 400;
}

.glossary-list ul {
  list-style: none;
}

.glossary-list li {
  padding: 5px 0;
}

.glossary-list-item.selected {
  background-color: var(--banner);
  border-radius: 5px;
  padding: 10px;
  color: var(--nav-text-hover);
  width: 97%;
}

.glossary-list-item.selected h3 {
  color: var(--nav-text-hover);
}

/* Mobile styles */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    gap: 10px; /* Smaller gap for mobile */
  }

  .glossary-header {
    flex-direction: column;
  }

  .glossary-title,
  .search-bar-container {
    width: 100%;
    text-align: center; /* Center title text on small screens */
    margin-bottom: 1rem; /* Add space between the title and the search bar */
  }

  .search-bar {
    flex-direction: column; /* Stack input and button on mobile */
  }

  .search-bar input,
  .search-bar button {
    width: 100%; /* Full width on small screens */
    margin: 5px 0; /* Add margin for stacked layout */
  }

  .alphabet-selector button {
    flex: 0 0 calc(10% - 10px);
  }
}

/* v2 */
.glossary-item-expanded {
  background-color: var(--banner);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: var(--nav-text-hover);
}

.glossary-item {
  color: var(--card-title);
}

.glossary-item-definition {
  color: var(--nav-text-hover);
} 

/* Search Bar */

.glossary-search-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-left: 1em
}

.glossary-search-input {
  margin-right: 0.5em;
  padding: 0.25em;
  padding-left: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: var(--header-text);
}

.glossary-search-input::placeholder {
  color: var(--header-text);
  transform: translateX(-0.25em)
}

.glossary-search-input:focus {
  outline: none;
  border: 1px solid #715529;
}

.glossary-search-container button {
  padding: 5px 10px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 10px;
  color: var(--btn-text-color);
  cursor: pointer;
  margin-inline: 5px;
}

.glossary-search-label-container {
  margin-right: 1em;
  width: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.glossary-search-label {
  margin-bottom: 0em;
  font-weight: 500;
  font-size: 1.25em;
}