.Homepage {
  background: var(--background);
  background-color: var(--background);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.homepage-text {
  text-align: left;
  font-weight: bold;
  padding-top: 0%;
  padding-bottom: 0;
  margin-top: 0.5em !important;
  margin-bottom: 0.5rem !important;
  color: var(--title-text);
}

.container-fluid {
  padding-right: 3rem;
  padding-left: 3rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4em;
  overflow: auto;
  max-width: 2500px;
  height: 100%;
}

.row {
  height: 100%;
}

.card-img-top {
  width: 100%;
  height: 10em;
  object-fit: cover;
  object-position: center;
}

.homepage-button {
  border: 1px solid var(--btn-color);
  background-color: var(--btn-color);
  border: 2px solid var(--interactive-color-tree);
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  color: var(--btn-text-color);
  font-weight: bold;
  /* font-size: 1em; */
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.homepage-button:hover {
  background-color: var(--btn-color-hover);
  color: var(--btn-text-color);
  opacity: 0.7;
}

.card-title {
  font-size: 1.3em;
  color: var(--card-title);
  line-height: 1.1;
  min-height: 1.1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-link {
  color: var(--card-title);
  font-weight: 600;
  transition-duration: 0.4s;
}

.card-link:hover {
  opacity: 0.7;
}

.card-text,
.card-link {
  color: var(--card-title);
  margin-bottom: 0;
  font-size: 1em;
}

.card {
  margin-left: 1em;
  margin-bottom: 1em;
  border: 1px solid var(--card-border);
}

.card-wrapper {
  padding: 0;
  height: 50%;
}

.card-text {
  padding-bottom: 0.5em;
}

@media (min-width: 1400px) {
  .container-fluid {
    width: 90%;
    max-width: 1700px;
    margin-bottom: 0;
    margin-top: 1em;
  }
  .row {
    margin-top: 2em;
  }
}

@media (max-height: 900px), (max-width: 900px) {
  .card-img-top {
    max-height: 8em;
  }

  .card-title {
    font-size: 1em;
    margin-bottom: 0.3em;
  }

  .card-text {
    font-size: 0.8em;
    padding-bottom: 0.3em;
  }

  .homepage-button {
    font-size: 0.8em;
  }

  .card-body {
    padding: 0.4em;
  }
}


@media (max-height: 1024px) {
  .homepage-text {
    font-size: 1.3em;
  }
  .intro-text, 
  .card-title {
    font-size: 0.9em;
  }
}

.intro-text {
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 1em;
}