/* ---------- General ---------- */

.admin-dashboard .controls-wrapper {
  background-color: var(--banner);
  width: 100%;
  display: flex;
  justify-content: center;
}

.admin-dashboard .controls {
  display: flex;
  align-items: center;
  background-color: var(--banner);
  padding: 0.7em;
  font-size: 0.9em;
}

body {
  width: 100%;
  background-color: var(--back_ground);
  margin: 0;
}

/* ---------- Header ---------- */
.list-title {
  margin: 2em auto;
  width: 85%;
}

.list-title h2 {
  width: 85%;
  color: var(--primary-color);
  font-weight: 200;
}
