.tree-flow-question-node {
    border: 1px solid black;
    padding: 1em;
    background: white;
}

.text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
}

.tree-flow-root-color {
    background-color: rgb(252, 251, 251);
}

.tree-flow-no-color {
    background-color: rgb(243, 156, 156);
}

.tree-flow-yes-color {
    background-color: rgb(153, 231, 153);
}

.tree-flow-no-edge > path {
    stroke: red;
    stroke-width: 0.2em;
}

.tree-flow-yes-edge > path {
    stroke: green;
    stroke-width: 0.2em;
}

.tree-flow-child-buttons {
    display: flex;
    margin-top: 1em;
}


.tree-flow-add-yes-child {
    margin-left: auto;
}

.tree-flow-header {
    display: flex;
}

.tree-flow-delete {
    margin-left: auto
}

.tree-flow-text {
    margin-top: 0.25em
}

.tree-flow-question {
    font-size: 1.25em;
    font-weight: 500;
}

.tree-flow-handle {
    width: 0.75em;
    /* Change width */
    height: 0.75em;
    /* Change height */
    border-radius: 50%;
    /* Ensure it's still a circle */
}