.tree-flow-question-node {
    border: 1px solid black;
    padding: 1em;
    background: white;
    width: 15em;
    height: 15em;
}

.tree-flow-node-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
}

.tree-flow-root-color {
    background-color: rgb(252, 251, 251);
}

.tree-flow-no-color {
    background-color: rgb(243, 156, 156);
}

.tree-flow-yes-color {
    background-color: rgb(153, 231, 153);
}

.tree-flow-selected-color {
    background-color: rgb(233, 233, 129);
}

.tree-flow-no-edge > path {
    stroke: red;
    stroke-width: 0.2em;
}

.tree-flow-yes-edge > path {
    stroke: green;
    stroke-width: 0.2em;
}

.tree-flow-child-buttons {
    display: flex;
    margin-top: 1em;
}


.tree-flow-add-yes-child {
    margin-left: auto;
}

.tree-flow-header {
    display: flex;
    width: 100%
}

.tree-flow-delete {
    margin-left: auto
}

.tree-flow-text {
    margin-top: 0.25em;
    width: 100%;
    height: 80%;
}

.tree-flow-textarea {
    width: 100%;
    height: 100%;
}

.tree-flow-question {
    font-size: 1.25em;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.tree-flow-handle {
    width: 0.75em;
    /* Change width */
    height: 0.75em;
    /* Change height */
    border-radius: 50%;
    /* Ensure it's still a circle */
}

/* Panel styling */

.tree-flow-panel-button-locked {
    background-color: #d0d0d0;
    color: #333;
    border: 0.125em solid #888;
    font-weight: bold;
    cursor: pointer;
}

.tree-flow-panel-button-locked:hover {
    background-color: #c0c0c0;
    box-shadow: 0 0.375em 0.625em rgba(0, 0, 0, 0.3);
}

.tree-flow-panel-height-input {
    width: 3em;
}