.title-section {
  margin-top: 20px;
}

h3 {
  color: var(--header-text);
  font-size: smaller;
}

.error-message {
  color: var(--error-message);
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 10px;
}

.button-container button {
  width: 110px;
}

.white-bar-input {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.white-bar-input:focus {
  outline: none;
}

.white-bar-input::placeholder {
  color: var(--placeholder-text);
  font-size: smaller;
}

.white-bar-input-dropdown-container {
  display: flex;
  align-items: center;
}

.white-bar-input-dropdown {
  width: calc(100% - 35px);
  margin-top: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
  border: 1px solid #ccc;
  padding: 10px;
}

.white-bar-input-dropdown-additional {
  width: calc(100% - 190px);
  margin-top: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
  border: 1px solid #ccc;
  padding: 10px;
}

.white-bar-input-dropdown-additional:focus {
  outline: none;
}

.white-bar-input-dropdown-additional::placeholder {
  color: var(--placeholder-text);
  font-size: smaller;
}

.white-bar-input-dropdown:focus {
  outline: none;
}

.white-bar-input-dropdown::placeholder {
  color: var(--placeholder-text);
  font-size: smaller;
}

.dropdown-button {
  width: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 0px;
  padding: 10px;
  background-color: var(--btn-color);
  color: var(--btn-text-color);
}

.dropdown-button:focus {
  outline: none;
}

.additional-input {
  width: calc(100% - 110px);
}

.additional-input-with-button {
  position: space-between;
}

.yes-node-button {
  background-color: rgb(61, 158, 61);
  width: 150px;
  padding: 10px;
  height: 48px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.no-node-button {
  background-color: rgba(255, 0, 0, 0.671);
  width: 150px;
  padding: 10px;
  height: 48px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.additional-inputs-container {
  margin-left: 20px;
}

.yes-node-section {
  margin-top: 20px;
}

.no-node-section {
  margin-top: 20px;
}

.remove-node-button {
  width: 150px;
  padding: 10px;
  height: 48px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}
@media (min-width: 576px) {
  .content-section {
    padding-left: 30px; /* Increase left padding on small devices and up */
    padding-right: 30px; /* Increase right padding on small devices and up */
  }
}

@media (min-width: 768px) {
  .content-section {
    padding-left: 60px; /* Increase left padding on medium devices and up */
    padding-right: 60px; /* Increase right padding on medium devices and up */
  }
}

@media (min-width: 992px) {
  .content-section {
    padding-left: 80px; /* Increase left padding on large devices and up */
    padding-right: 80px; /* Increase right padding on large devices and up */
  }
}

@media (min-width: 1200px) {
  .content-section {
    padding-left: 100px; /* Increase left padding on extra large devices */
    padding-right: 100px; /* Increase right padding on extra large devices */
  }
}

.existing-nodes-dropdown-item {
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: white
}

.existing-nodes-dropdown-item:hover {
  background-color: rgb(253, 252, 252);
  /* Change to gray on hover */
}

.tree-delete-button {
  width: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 0px;
  padding: 10px;
  background-color: var(--btn-color);
  color: var(--btn-text-color);
}
