/* ---------- Buttons ----------*/
:root {
    --primary-color: #007bff;
}

.button {
    height: 2.5em;
    background-color: var(--primary-color);
    color: white;
    padding: auto;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    width: 8em;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding: 1.5em;
}

/* Hover effects for button */
.button:hover {
    opacity: 0.7;
}

/* ---------- Filter ---------- */
.select-wrapper {height: 2.5em;
    position: relative;
    width: 12em;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 300;
    margin: 20px auto;
}

/* The select box itself */
.select {
    height: 2.5em;
    position: relative;
    width: 100%;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;
}

/* The selected option displayed */
.select-option {
    margin: 0;
}

/* Icon next to the selected option */
.select-icon {
    transition: transform 275ms;
    padding: auto;
}

/* Dropdown container */
.select-content-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 0;
    z-index: 999;
    overflow: hidden;
}

/* Dropdown content */
.select-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: solid 1px #ccc;
    border-radius: 0 0 20px 20px;
}

.select-content li {
    padding: 10px 20px;
    border-bottom: 1px solid #E0E0E0;
    /* background-color: #F5F5F5; */
    transition: background-color 275ms ease-in-out;
    cursor: pointer;
}

.select-content li:last-child {
    border-bottom: none;
    border-radius: 0 0 20px 20px;
    margin-bottom: -1px;
}

.select-content li:hover {
    background-color: var(--primary-color);;
    color: white;
    font-weight: bolder;
}

/* Adjustments for when the select is open */
.select.open .select-icon {
    transform: rotate(180deg);
    /* Flip the icon when open */
}

.select.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


/* ---------- Search Bar ---------- */
.search-form {
    height: 2.5em;
    position: relative;
    width: 24em;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 300;
    margin: 20px auto;
    border: solid 1px #ccc;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.search-input {
    height: 100%;
    padding: auto;
    width: calc(100% - 40px);
    border: none;
    outline: none;
}

.search-button {
    width: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}


/* ---------- Controls ---------- */
.controls {
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

.controls-wrapper {
    height: 5em;
}