:root {
    --primary-color: #007bff;
}

.editor {
    max-width: 80%;
    margin: 2em auto;
    border-radius: 4px;
}

/* ---------- Definition ---------- */
.definition,
.article {
    display: flex;
    flex-direction: column;
}

.definition .input-group,
.article .input-group {
    margin-bottom: 2em;
}

.definition .input-group label,
.article .input-group label {
    display: block;
    color: var(--primary-color);
}

.definition .input-group input,
.definition .input-group textarea,
.article .input-group input,
.article .input-group textarea {
    width: 100%;
    padding: 0.6em;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: .5em;
}

#definition-title,
#definition-paragraph {
    border-radius: .5em;
}

.input-group input {
    height: 3em;
}

.input-group textarea {
    min-height: 10em;
    resize: vertical;
    overflow: auto;
}

.definition .input-group textarea.autosize {
    height: auto;
    /* Initial height should be auto to start at min-height */
    overflow-y: hidden;
    /* Hide the scrollbar initially */
}

/* ---------- Article ---------- */

.label {
    margin-bottom: 0.5em;
    margin-top: 1em;
    color: var(--primary-color)
}

#art-title {
    font-size: 1.7em;
    font-weight: 600;
}

#title {
    font-size: 1.5em;
    font-weight: 450;
}

#subtitle {
    font-size: 1.2em;
    font-weight: 350;
}

/* Hide the remove button for the default title block */
.default-title .delete-button {
    display: none;
}
.delete-button-container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5em;
    align-self: flex-end;
}

.delete-button {
    margin-left: 0.5em;
    /* margin-bottom: 0.5em; */
}

.content-input {
    flex-grow: 1;
}

.content-input .art-title input,
.content-input .art-subtitle input,
.content-input .art-paragraph textarea {
    width: 100%;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    box-sizing: border-box;
}

/* Ensures the wrapper takes the full width */
.content-input-wrapper {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5em;
}

/* ---------- Article | Add Content Buttons ---------- */
.add-content-btn-container {
    width: 100%;
    display: flex;
    justify-content: align-start;
    flex-wrap: wrap;
}

.add-media-content-btn {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    border: none;
    background: var(--primary-color);
    cursor: pointer;
    color: #fff;
}

.add-content-btn {
    margin: 4px 0.5em;
}

/* ---------- Article | Video, Image ---------- */
.video-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
}

.video-container
 {
    height: 20em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
}

.video-preview {
    height: 100%;
    width: 100%;
}

.input-row,
.image-preview-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.video-url-input {
    flex-grow: 1;
    padding: 0.3em;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-upload-input,
.image-preview {
    margin-bottom: 0.5em;
}

.image-preview {
    max-height: 20em;
    margin-bottom: 0.5em;
}

.image-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.fa-upload-icon {
    color: var(--primary-color);
    font-size: 5em;
}

.image-upload-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #afcae6 solid 1px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
}

.upload-label-text {
    align-items: center;
    padding-top: 0.3em;
    color: var(--primary-color);
}