:root {
    --primary-color: #007bff;
}

.image-upload-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group .image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-input-group .image-upload-label {
    width: 100%;
    height: 150px;
    border: none;
    /* Style as per your screenshot */
    border-radius: .5em;
    text-align: center;
    line-height: 150px;
    /* Aligns the content vertically */
    cursor: pointer;
}

.upload-icon {
    font-size: 7em;
    cursor: pointer;
    color: var(--primary-color);
    margin: auto;
}

.image-preview {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    /* Spacing above the image preview */
}

.image-input-group .image-upload-input {
    display: none;
    /* Hide the actual file input */
}

.image-input-group .uploaded-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* Match your design's border radius */
}

.input-group label {
    /* display: block; */
    margin-bottom: 5px;
}

.input-group .paragraph-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-height: 100px;
    /* Adjust based on your design */
}

.upload-icon {
    align-items: center;
}


#paragraph {
    border-radius: .5em;
}
