.article-container {
    background-color: white;
}

.article-title,
.article .article-h3 {
        color: #007bff;
        font-size:large
    }

.banner-text-container {
    display: grid;
    place-items: center;
}

.banner-text {
    color: white;
    font-weight: lighter;
}

.banner-container {
    height: 10em;
    background-color: rgb(10, 43, 78)
}

span {
    color: #007bff;
    font-weight: 300;
}